<ion-header-bar class="bar-dark">
    <button class="button button-icon icon ion-chevron-left" ui-sref='issueDetails({{comment.author.name.id}})'></button>      
    <h1 class="title titre">CitizenEng.</h1>      
</ion-header-bar>

<div class="bar bar-subheader">
      <h2 class="title">Comments</h2>
</div> 

<ion-view view-title="comments">
  <ion-content class="has-subheader">
    

<div class="card">
  <label class="item item-input item-stacked-label" ng-repeat="comment in commentCtrl.comments">

      <a class="item item-avatar" href="#">
        <img src="/img/{{comment.author.name}}.jpg">
      
        <h2>{{ comment.author.name }} </h2> 
        <p>{{ comment.text }}</p>
        </a>
  </label> 
  <div class="item item-button-right">
   <input type="text" placeholder="Let's comment"  ng-model="commentCtrl.comment.text" />
   <button class="button icon ion-paper-airplane button-balanced" ng-click="commentCtrl.addComments()" ng-disabled="commentCtrl.$invalid"></button>
  </div>
</div>


</ion-content>
</ion-view>