<ion-view view-title="Citizen Engagement">
  <ion-content class="padding">

    <!-- A banner. Choose an image and save it as www/img/banner.jpg -->
    <!--<img src="img/banner.jpg" width="100%" alt="Citizen Engagement" />-->

    <!-- A short welcome message. -->
    <div class="card">
      <div class="item item-text-wrap">
        Create a new issue ...
      </div>
    </div>

    <!-- The login form that the citizen must fill. -->
    <form name="createIssueForm">

    <button class="button button-full button-positive" ng-click="CameraService">Photo</button>
    <button class="button button-full button-positive" ng-click="">Location</button>
      <div class="list">
        <label class="item item-input">
          <!-- Note the required="required" attribute issue for validation. -->
          <input type="text"  rows=4 cols=40 placeholder="Enter details" ng-model="createIssueCtrl.issue.description" required />
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Tag" ng-model="createIssueCtrl.issue.tag" required />
        </label>
        <div class="list">
          <label label class="item item-input item-select">
            <div class="input-label">Type</div>
            <select name="typesList" ng-model="createIssueCtrl.type" size="1">
              <option value="Choose a type" selected="true">Choose a type</option>
              <option value={{type.href}} ng-repeat="type in createIssueCtrl.types">{{type.name}}</option>
            </select>
          </label>
        </item>
      </div>

      <!-- Display an error message here, above the submit button, if an error occurred. -->
      <p ng-if="" class="error">{{ createIssueCtrl.error }}</p>

      <!--
        The submit button.
        The "ng-click" directive indicates which scope function to call when the form is submitted.
        The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
      -->
      <button class="button button-full button-positive" ng-click="createIssueCtrl.save()" ng-disabled="createIssueForm.$invalid">Save</button>
    </form>
  </ion-content>
</ion-view>