<ion-header-bar class="bar bar-header bar-dark">
  <button class="button button-icon icon ion-chevron-left" ui-sref='tab.issueList'></button>
  <div class="title titre">CitizenEng.</div>
</ion-header-bar>

<ion-view view-title="issueDetails">
  <ion-content>
    <h1 class="issueListTitle">
      Issue Details
    </h1>

    <img src="{{ issueDetailsCtrl.issue.imageUrl }}" style="width:100%;left:0;position:relativ;"/>

    <div class="card">
        <div class="item item-text-wrap">
         <p style="font-weight:bold;"> Description :  </p>
         <p> {{ issueDetailsCtrl.issue.description }} </p>
        </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
         <p style="font-weight:bold;"> Creator :  </p>
         <p><img style="max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;"src="/img/{{issueDetailsCtrl.issue.creator.name}}.jpg"> {{ issueDetailsCtrl.issue.creator.firstname }} {{ issueDetailsCtrl.issue.creator.lastname }} (<span style="font-style: italic;">{{ issueDetailsCtrl.issue.creator.name }}</span>) </p>
        </div>
    </div>

    <div class="card">
        <div class="item item-text-wrap">
        <p style="font-weight:bold;"> Created date :  </p>
        <p>{{issueDetailsCtrl.issue.createdAt | date: 'dd/MM/yyyy, HH:mm'}}</p>
        <p style="font-weight:bold;"> Status :  </p>
        <p> {{ issueDetailsCtrl.issue.state }} </p>
        </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
         <p style="font-weight:bold;"> Tags :  </p>
         <span ng-repeat="tag in issueDetailsCtrl.issue.tags">{{tag}} <b>/</b> </span>
        </div>
    </div>

    <div class="card">
        <div class="item item-text-wrap">
         <p style="font-weight:bold;"> Comments :  </p>
         <p><b>{{ issueDetailsCtrl.issue.comment[0].creator }} </b> : {{ issueDetailsCtrl.issue.comment[0].body }}</p>
         <p><b>{{ issueDetailsCtrl.issue.comment[1].creator }} </b> : {{ issueDetailsCtrl.issue.comment[2].body }}</p>
         <p class="comm"> <a class="comm" href=""> ... </a></p>
        </div>
    </div>


  </ion-content>
</ion-view>