  <ion-header-bar class="bar-dark">
    <img src="/img/profile.svg" class="profile" ui-sref='profil'/>       
    <h1 class="title titre">CitizenEng.</h1>
    <img src="/img/filter.svg" class="filter" uisref='#'/>       
  </ion-header-bar>

<ion-view view-title="Issue Map">
  <ion-content scroll='false' data-tap-disabled='true'>
      <leaflet width='100%' height='100%'
           defaults='mapCtrl.defaults'
           center='mapCtrl.center'
           markers='mapCtrl.markers'>
     </leaflet>
  </ion-content>
</ion-view>