    <div class="bar bar-header bar-dark">
      <button class="button button-icon icon ion-person" ui-sref='profil'></button>
      <div class="title titre">CitizenEng.</div>
      <button class="button button-icon icon ion-search"></button>
    </div>

  
  
<ion-view view-title="Issue List">
  <ion-content>
    <p class="issueListTitle">
      <button class="button button-small button-outline button-dark" id="allIssue" ng-click="issueListCtrl.showAll()">
        <b>All issues</b>
      </button>
      <button class="button button-small button-outline button-dark" id="myIssue" ng-click="issueListCtrl.showMine()" >
        <b>My issues</b>
      </button>
    </p>
    <!--<ion-list>
      <ion-item ng-repeat="issue in issueListCtrl.issues">
        <img src="{{issue.imageUrl}}" class="imgListe"> <b>status</b> : {{ issue.state }} <p> <b>description</b> : </p><p>{{ issue.description }}</p>
      </ion-item>
    </ion-list>

-->
<div class="list card" id="corp" ng-repeat="issue in issueListCtrl.issues">

  

  <div class="item item-body">
    {{issue.type}}
    <img class="full-image" src="{{issue.imageUrl}}">
    <p style="font-style: italic;">
      {{ issue.description }}
    </p>
    <p>
      status :<ion-badge item-right>{{ issue.state }}</ion-badge>
    </p>
  </div>

  <div class="item item-avatar">
    <img src="/img/{{issue.creator.name}}.jpg">
    <h2><b>{{ issue.creator.firstname }} {{ issue.creator.lastname }}</b> ({{issue.creator.name}})</h2>
    <p>
    {{issue.createdAt | date: 'dd/MM/yyyy, HH:mm'}}
    </p>
  </div>

</div>


  </ion-content>
</ion-view>