<ion-header-bar class="bar bar-header bar-dark">
  <button class="button button-icon icon ion-chevron-left" ui-sref='tab.issueList'></button>
  <div class="title titre">CitizenEng.</div>
</ion-header-bar>

<div class="bar bar-subheader">
      <h2 class="title">Issue details</h2>
</div> 

<ion-view view-title="issueDetails">
  <ion-content class="has-subheader">

    <div class="list card">

      <div class="item item-avatar">
        <img src="/img/{{issueDetailsCtrl.issue.creator.name}}.jpg">
        <h2>{{ issueDetailsCtrl.issue.creator.firstname }} {{ issueDetailsCtrl.issue.creator.lastname }}</h2>
        <p class="subdued">{{issueDetailsCtrl.issue.createdAt | date: 'dd/MM/yyyy, HH:mm'}}</p>
       
      </div>

      <div class="item item-image">
        <img ng-src="{{ issueDetailsCtrl.issue.imageUrl }}"/>
      </div>

      <div class="item item-body">
        <p> {{ issueDetailsCtrl.issue.description }}</p>
        <p class="subdued"> {{ issueDetailsCtrl.issue.state }} </p>
      </div>

      <div class="item item-text-wrap">
         <p style="font-weight:bold;"> Tags :  </p>
         <span ng-repeat="tag in issueDetailsCtrl.issue.tags">{{tag}} <b>/</b> </span>
        </div>
    </div>
    

      <div class="card list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Comments :</span>
          <a class="item item-avatar" href="#">
            <img src="/img/{{issueDetailsCtrl.comments[0].author.name}}.jpg">
            <h2>{{ issueDetailsCtrl.comments[0].author.name }}</h2>
            <p>{{ issueDetailsCtrl.comments[0].text }}</p>
          </a>
          <a class="item item-avatar" href="#">
            <img src="/img/{{issueDetailsCtrl.comments[1].author.name}}.jpg">
            <h2>{{ issueDetailsCtrl.comments[1].author.name }}</h2>
            <p>{{ issueDetailsCtrl.comments[1].text }}</p>  
          </a>
            </label>
          <div class="comm">
            <button class="button comm button-clear button-balanced" ui-sref='comments({ issueId: issueDetailsCtrl.issue.id })' ng-click="commentCtrl">
              ...
            </button>
          </div>
   
          <div class="item item-button-right">
            <input type="text" placeholder="Let's comment" ng-model="issueDetailsCtrl.comment.text" />
            <button class="button icon ion-paper-airplane button-balanced " ng-click="issueDetailsCtrl.addComments()" ng-disabled="issueDetailsCtrl.$invalid"></button>
          </div>
      </div>
      
    
  </ion-content>
</ion-view>