<ion-header-bar class="bar-assertive">
      <img src="/img/back.svg" class="profile"/>       
    <h1 class="title titre">CitizenEng.</h1>
      <img src="/img/valid.svg" class="filter"/>       
</ion-header-bar>
  
<ion-view view-title="New Issue">
  <ion-content>
    <p>Hello! This is the issue creation screen.</p>
  </ion-content>
  <!--<ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Log Out</button>
  </ion-nav-buttons>-->
</ion-view>