/* Empty. Add your own CSS if you like */

.item{
    background-color: none !important;
}    

.home{
    padding: 0;
    margin: auto;
}

 .titreHome{
     font-size: 30px;
     font-family: rockwell; 
     text-align: center;
     padding-top: 2em;
     padding-bottom: 2em;

 }

 a{
     text-decoration:none;
 }

 a:hover{
          text-decoration:none;
 }

 .comm{
     text-align:center;
     font-style: bold;
     color:green;
     font-size:35px;
 }


 .titre{
     font-size: 23px;
     font-family: rockwell; 
 }
.profile{
    height:30px;
    width:auto;
    position:absolute;
    left:0;
    margin-left: 2em;
    margin-top: 2px;
}

.send{
    height:20px;
    width:auto;
    margin-top:0em;
}

.test{ 
    height:30px;
    width:50px;
}

.filter{
    height:30px;
    width:auto;
    position:absolute;
    right:0;
    margin-right: 2em;
    margin-top:2px;
}


.issueListTitle{

text-align: center;
margin-top: 5px;

}


.error{
    color:indianred;
    font-weight: bold;
}

.imgListe{
    height:100px;
    width:100px;
    margin-right:20px;
}