/* Empty. Add your own CSS if you like */

.item{
    background-color: none !important;
}    

.home{
    padding: 0;
    margin: auto;
    background-color: #444;
}

 .titreHome{
     font-size: 30px;
     font-family: rockwell; 
     text-align: center;
     padding-top: 2em;
     padding-bottom: 2em;

 }


 .titre{
     font-size: 23px;
     font-family: rockwell; 
 }
.profile{
    height:30px;
    width:auto;
    position:absolute;
    left:0;
    margin-left: 2em;
    margin-top: 2px;
}


.filter{
    height:30px;
    width:auto;
    position:absolute;
    right:0;
    margin-right: 2em;
    margin-top:2px;
}


.issueListTitle{

text-align: center;
margin-top: 5px;

}


.error{
    color:indianred;
    font-weight: bold;
}

.imgListe{
    height:100px;
    width:100px;
    margin-right:20px;
}